@import 'tailwindcss';

:root {
  --font-shippori-mincho: 'Shippori Mincho', serif;
}

@theme inline {
  --font-sans: var(--font-shippori-mincho);
  --font-serif: var(--font-lato);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-shippori-mincho), Arial, Helvetica, sans-serif;
}
