@import 'tailwindcss';

:root {
  --font-hina-mincho: 'Hina Mincho', serif;
}

@theme inline {
  --font-sans: var(--font-hina-mincho);
  --font-serif: var(--font-lato);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
